{{ path "/etc" }}[inet_http_server]
port=127.0.0.1:9090

[supervisord]
nodaemon         = true
user             = root
loglevel         = {{ def .Env.SUPERVISOR_LOG_LEVEL "INFO" }}

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl = http://127.0.0.1:9090
prompt    = sctl

[program:sickgear]
command = python -u SickBeard.py --datadir={{ def .Env.SB_DATA "/data" }} --config={{ def .Env.SB_DATA "/data" }}/config.ini
directory               = {{ def .Env.SB_HOME "/sickgear" }}
environment             = PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:/root/bin
user                    = root
autostart               = true
autorestart             = true
stopsignal              = TERM
stopasgroup             = true
stopwaitsecs            = 15
stdout_logfile          = /dev/stderr
stdout_logfile_maxbytes = 0
stderr_logfile          = /dev/stderr
stderr_logfile_maxbytes = 0

[program:updater]
command                 = escarole -C /escarole.yaml -i {{ def .Env.UPDATE_INTERVAL "4h" }}
user                    = root
autostart               = true
autorestart             = true
stdout_logfile          = /dev/stderr
stdout_logfile_maxbytes = 0
stderr_logfile          = /dev/stderr
stderr_logfile_maxbytes = 0
